{% extends "base.html" %}
{% load static %}

{% block meta %}
  <!-- On Page META SEO -->
  <title>{% block page_title %} Ai Coding Bots {% endblock %}</title>
  <meta name="description" content="{% block description %}Article About Python Django{% endblock %}">
  <meta name="keywords" content="{% block keywords %}React, JavaScript, Webpack, Django, Python, Web Development, Applications{% endblock %}">
{% endblock meta %}
{% block page_head %}
    <!-- <link rel="stylesheet" href="{% static 'styles/prism.css' %}"> -->
{% endblock %}

{% block body %}
  <div class="card">
    {% include "applications/ai/openai/components/gpt_code.html" %}
  </div>
  </br>
  {{content|safe}}
{% endblock %}

{% block page_js %}
    <!-- <script type="text/javascript" src="{% static 'styles/prism.js' %}"></script> -->
{% endblock page_js %}
