{% load static %}

<h1><b>Django Template Project, with a hybrid Django/React.js Frontend.</br>Developed by <a target="_blank" href="https://github.com/growth-delta">Noah Morris</a></b></h1>
</br>

<div class="row">
    <div class="col text-center">
        <div><img class="img-fluid" src="{% static 'images/branding/logo.png' %}" alt="logo" width="900px"></div>
        <h3>Noah Morris  -"If you build on top of this base django project please Accredit my website</h3><h2><a target="_blank" href="https://growth-delta.com/"> growth-delta.com</a>"</h2>
        </br></br>
    </div>
    <div class="col-md card bg-success bg-opacity-75">
        <div class="p-4">
            <h1 class="text-center text-white"><b>🐍Django⚛️React</b></h1>
            </br>
            <h4 class="hero-section" style="color:#ffd06b"><b>Build powerful web applications with ease using our Django project base template. Our template comes equipped with a fully-functional Restful API and a Webpack build pipeline that supports .jsx, .js, .ts, and .tsx files, making it easy to build modern, interactive web applications.</b></h4>
            </br>
            <b class="hero-section text-light">With our template, you can focus on building your application's unique features and functionality, while we handle the heavy lifting of setting up the infrastructure and build pipeline. Get started today and see how our Django project base template can help you build your next web application faster and more efficiently.</b>
            </br></br>
            <div class="form-floating mb-3">
                <a target="_blank" href="/static/images/graphics/homer.jpeg" class="btn btn-lg btn-warning w-100 text-white"><h3 style="font-size: 3rem;"><b>Any Key</b></h3></a>
            </div>
        </div>
    </div>
</div>

<section>
    <hr>

    <!-- You can use regular .js like this -->
    <div class="card text-center" x-data="{ count: 0 }">
    <h2 class="card-header">Alpine.js Counter Example</h2>
    <div class="row p-4">
        <button type="button" class="btn btn-lg btn-outline-dark w-50 fw-bold" x-on:click="count--">- 1</button>
        <button type="button" class="btn btn-lg btn-outline-dark w-50 fw-bold" x-on:click="count++">+ 1</button>
    </div>
    <span class="card-body fw-bolder fs-1" x-text="count"></span>
    </div>
    </br>
    <div class="container text-center w-25" x-data="{ result: '' }">
        <div class="calculator card p-4">  
            <div class="card-header">
                Alpine.js Calculator
            </div>
            <div class="card-body">
                <div class="result mb-3">
                    <input type="text" x-model="result" class="form-control" readonly>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="col-2">
                            <button class="btn btn-primary btn-block" @click="result += '7'">7</button>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-primary btn-block" @click="result += '8'">8</button>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-primary btn-block" @click="result += '9'">9</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <button class="btn btn-primary btn-block" @click="result += '4'">4</button>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-primary btn-block" @click="result += '5'">5</button>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-primary btn-block" @click="result += '6'">6</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <button class="btn btn-primary btn-block" @click="result += '1'">1</button>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-primary btn-block" @click="result += '2'">2</button>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-primary btn-block" @click="result += '3'">3</button>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-secondary btn-block" @click="result += '+'">+</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <button class="btn btn-primary btn-block" @click="result += '0'">0</button>
                        </div>
                        <div class="col-2">
                        <button class="btn btn-secondary btn-block" @click="result += '.'">.</button>
                        </div>
                        <div class="col-2">
                        <button class="btn btn-secondary btn-block" @click="result += '/'">/</button>
                        </div>
                        <div class="col-2">
                        <button class="btn btn-secondary btn-block" @click="result += '-'">-</button>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <button class="btn btn-secondary btn-block" @click="result += '('">(</button>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-secondary btn-block" @click="result += ')'">)</button>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-secondary btn-block" @click="result += '*'">x</button>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-success btn-block" @click="result = eval(result)">=</button>
                            </div>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-warning btn-block" @click="result = ''">CLEAR</button>
                        </div>
                        <script>
                          window.addEventListener('DOMContentLoaded', () => {
                            const calculator = Alpine.data('calculator', () => ({
                              result: '0'
                            }));
                          });
                        </script>
                </div>
            </div>
        </div>
	</div>
    <hr>
</section>



<section>

    </br>
    <div class="text-center">
        <a class="btn btn-lg bg-warning bg-opacity-50 text-info" target="_blank" href="https://github.com/growth-delta/configuration"><b><i class="fa-brands fa-github fa-lg"></i> Download Code Base <i class="fa-brands fa-github fa-lg"></i></b></a>
    </div>

    </br>

    <div class="text-center">
        <a class="btn bg-success bg-opacity-75 text-warning p-4" target="_blank" href="{% url 'content:docs' %}"><b>DOCUMENTATION</b></a>
    </div>
    </br>
    
    <b>
        In the footer of your website, this project is not designed for production grade use. This is for project and portfolio application and provides 
        a decent starting point, which you can then build you unique features on. Its designed to save time for full stack developers to get moving on a 
        project in quick succession.
    </b>

    <p>
        </br>
        This is a Free base template for a Django & React application, it comes with a few simple applications and a well organized project structure.
        </br></br>
        <h2>The Project Includes</h4>
        </br>
        <b>Frontend JavaScript build pipeline</b>, which uses Webpack to bundle the JavaScript file <b>./asset/JavaScript/site.js</b> The Webpack is configured to translate; .js | .jsx and bundle them into a browser readable format in <b>./static/JavaScript/site-bundle.js</b>
        </br></br>
        <b>RestFul API</b>, which uses DRF, this helps you get your API's up and running fast. An example of creating an API from a excel file <b>./applications/api/views.py</b>
        </br></br>
        <b>MarkDown/HTML .md Content Management System</b>, This app serves .md files to your Django Templates, through the <b>./applications/content/views.py</b> this is used to create articles and content for your project.
        This is a very simplistic method for CMS but that why it's good, because you have full control over the content and delivery. Their are many floors, such as having to re-commit 
        your application in production but we suggest concentrating on the quality of your SEO content rather than quantity.
        </br></br>
        <b>Django: SEO & Sitemap</b> which uses Django to create a /sitemap.xml page, which you can register with Search Engines like GOOG, to add urls to your http://127.0.0.1:8000/sitemap.xml
        Vist <b>./applications/website/SiteMap.py</b> Meta Tags can be overridden in the templates, for an example <b>./templates/applications/content/content_django.html</b> The Default html meta tags should 
        be written in the 'django blocks' on the ./templates/base.html page this serves as the base html page for the project.
        </br></br>
        <b>Website Django Application</b> This app is for any generic webpages; terms, privacy, about etc. website templates are basically for static pages / backend rendered pages.
        </br></br>
        The idea with this is it allows you to build a your application rapidly as some of the vital infrastructure is already layed in a well structured way following good django & web practices.
        You can easily integrate react into any of your django templates give you the option to use modern JavaScript or not.
    </p>
</section>

</br>
<section>
    <div class="card text-white text-center p-3" style="background-image: url('/static/images/graphics/homer.jpeg'); background-size: cover; font-size: 4rem;">
        PRESS 'ANY KEY'|🗝️|PRESS 'ANY KEY'|🗝️
    </div>

    <!-- You can use regular .js like this -->
    <div class="text-center">
        </br>
        <a class="btn btn-lg btn-warning text-info" onclick="displayMessage()"><b>HOMER Simpson Tech Stack</b></a>
        {% block page_js %}
            <script type="text/JavaScript">
                function displayMessage() {
                    alert("Haha! I got you... The HOMER-Simpson Stack doesn't exist.\n\nLETS IMAGINE WHAT THE HOMER tech stack could be\n\nHadoop: A distributed processing system that can handle large amounts of data.\nOpenCV: An open-source computer vision library that can be used for image and video processing.\nMongoDB: A NoSQL database that can store and manage unstructured data.\nElasticsearch: A search engine that can be used to index and search large volumes of data.\nRedis: A fast in-memory data store that can be used for caching and real-time messaging.\n");
                }
            </script>
        {% endblock page_js %}
    </div>
</section>
