{% load static %}
<nav class="navbar navbar-expand-lg bg-light sticky-top">
  <b class="container">

    <a class="navbar-brand" href="{% url 'website:landing_page' %}"><img class="img-fluid" src="{% static 'images/branding/logo.png' %}" style="height: 50px; width: auto;"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Content
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'content:docs' %}">Documentation</a></li>
            <li><a class="dropdown-item" href="{% url 'content:django' %}">Django</a></li>
            <li><a class="dropdown-item" href="{% url 'content:react' %}">React</a></li>
          </ul>
        </li>

        </li><li class="nav-item dropdown">
          <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Apps
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'website:react_app' %}">Embedded Application: Fact Generator</a></li>
            <li><a class="dropdown-item" href="{% url 'website:react_component' %}">Embedded Component: API Table</a></li>
          </ul>
        </li>

        </li><li class="nav-item dropdown">
          <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            API
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" target="_blank" href="{% url 'api:test_excel' %}">API: Document Links</a></li>
            <li><a class="dropdown-item" target="_blank" href="{% url 'api:test_json' %}">API: Facts</a></li>
          </ul>
        </li>

      </ul>

      <ul class="navbar-nav me-end mb-2 mb-lg-0">
        <li>
          <form id="downloadForm" method="get" action="{% static 'database/data.xlsx' %}">
            {% csrf_token %}
            <a class="btn btn-success" onclick="javascript:document.getElementById('downloadForm').submit()"><b>Do: Something? <i class="fa-solid fa-database"></i></b></a>
          </form>
        </li>
        <li><a class="nav-link"></a></li>
        <li><a class="btn btn-outline-danger text-danger"><b>Do: Nothing!</i></b></a></li>
      </ul>

    </div>
  </b>
</nav>

