{% extends "base.html" %}
{% load static %}

{% block meta %}
  <!-- On Page META SEO -->
  <title>{% block page_title %} Example React Application {% endblock %}</title>
  <meta name="description" content="{% block description %} Description {% endblock %}">
  <meta name="keywords" content="{% block keywords %} KeyWords {% endblock %}">
{% endblock meta %}

{% block body %}
  <div id="root" />
{% endblock %}

{% block page_js %}
  <script type="text/javascript" src="{% static 'JavaScript/bundles/FactGenerator-bundle.js' %}"></script>
{% endblock page_js %}
